.my-button {
    margin: .25rem;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 36px;
    border-radius: 10%;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 64, 11);
    border-color: rgba(0, 0, 0, 0)
}

.my-button:hover {
    background-color: rgba(2, 64, 11, .8);
    color: rgb(187, 186, 186)
}